<script>
    const App = {
        data() {
            return {
                title: 'Express + Vue 3 Demo App',
            }
        },
    }
    export default App
</script>
<template>
    <main class="container font-sans mx-auto">
        <section class="flex flex-col place-items-center">
            <img
                class="w-2/6"
                src="https://about.gitlab.com/images/press/logo/svg/gitlab-icon-rgb.svg"
            />
            <a
                class="bg-gradient-to-r from-yellow-400 via-red-500 to-yellow-500 p-8 shadow-xl rounded-lg transform hover:-translate-y-1 transition-all"
                href="https://gitlab.com/agulina/express-vue-demo-app"
                target="_blank"
            >
                <h1 class="bold text-3xl text-white">
                    {{ title }}
                </h1>
            </a>
        </section>
    </main>
</template>
<style lang="css"></style>
